.container {
  display: flex;
  width: 257px;
  height: 240px;
  padding: 40px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-radius: 14px;
  border: 1px solid #88d0ef;
  background: linear-gradient(
    127deg,
    rgba(6, 11, 40, 0.74) 28.26%,
    rgba(10, 14, 35, 0.71) 91.2%
  );
}
