.container {
  width: 1600px;
  height: 920px;
}

.border_container {
  width: 1570px;
  height: 40px;
  display: flex;
  gap: 20px;
  border: 1px solid #000;
  margin-bottom: 20px;
}

.title {
  font-size: 32px;
  color: #333c49;
  font-weight: 700;
}

.button {
  height: 40px;
  padding: 9px 10px;
  border-radius: 4px;
  background-color: #0097ff;
  color: #fff;
  border: none;
  font-size: 14px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.status_container {
  display: flex;
  gap: 24px;
}
