.border_container {
  width: 736px;
  height: 840px;
  background-color: white;
  border-radius: 14px;
  padding: 40px 30px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #333c49;
  margin-bottom: 24px;
}

.graph_container {
  display: flex;
  gap: 44px;
  margin-bottom: 44px;
}
